@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300 400 500 600 700;
  font-display: swap;
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
@apply bg-blue-100 text-white;
font-family: 'Quicksand', sans-serif;
font-feature-settings: "cv10" on, "cv06" on;
}
.bg-sidebar {
  background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
}
.bg-active-nav-link {
  background: linear-gradient(90deg, #00CDAC 0%, #02AAB0 100%);
}
.bg-line-gradient {
  background: linear-gradient(90deg, #2BC0E4 0%, #EAECC6 100%);
}
.bg-gradient-pool {
  background: linear-gradient(162.34deg, #212554 100%, #515AB4 0%);
}
.button-gradient {
  background: linear-gradient(180deg, #8454EB 0%, #3461FF 95.31%);
}
.button-bg {
  background: linear-gradient(180deg, #080A1C 0%, #312E81 95.31%);
}


 /* Scrollbar custom */
  /* width */
  .scroll-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  .scroll-custom::-webkit-scrollbar-track {
    @apply bg-blue-700;
    border-radius: 20px;
  }
  
  /* Handle */
  .scroll-custom::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
  }
