@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300 400 500 600 700;
  font-display: swap;
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
@apply bg-blue-100 text-white;
font-family: 'Quicksand', sans-serif;
font-feature-settings: "cv10" on, "cv06" on;
}
.bg-sidebar {
  background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
}
.bg-active-nav-link {
  background: linear-gradient(90deg, #00CDAC 0%, #02AAB0 100%);
}
.bg-line-gradient {
  background: linear-gradient(90deg, #2BC0E4 0%, #EAECC6 100%);
}
.bg-gradient-pool {
  background: linear-gradient(162.34deg, #212554 100%, #515AB4 0%);
}
.button-gradient {
  background: linear-gradient(180deg, #8454EB 0%, #3461FF 95.31%);
}
.button-gradient-two {
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  box-shadow: 0px 13px 17px rgba(140, 213, 105, 0.2);
}
.button-bg {
  background: linear-gradient(180deg, #080A1C 0%, #312E81 95.31%);
}
.button-bg-submit {
  background: linear-gradient(180deg, #8454EB 0%, #3461FF 100%);
}
.button-bg-submit-disabled {
  background: linear-gradient(180deg, #6C6C6C 0%, #4A4343 100%) !important;
}
.buttpn-play-bg {
  background: linear-gradient(180deg, rgba(8, 10, 28, 0.23) 0%, #312E81 95.31%);
}
.bg-checkbox-but {
  background: rgba(22, 26, 66, 1.0);
}
.bg-checkbox-but:hover {
  background: linear-gradient(180deg, #0a0c21 0%, #2f2c7e 95.31%);
}
.bg-checkbox-but-gradient {
  background: linear-gradient(180deg, #3461FF 0%, #8454EB 95.31%);
}
.bg-checkbox-but-gradient:hover {
  background: linear-gradient(180deg, #8454EB 0%, #3461FF 95.31%);
}
input.sr-only:checked ~ .bg-checkbox-but-gradient {
  background: linear-gradient(180deg, #1FA2FF 0%, #A6FFCB 95.31%);
}
input.sr-only:checked ~ .bg-checkbox-but-gradient .bg-checkbox-but {
  background: #466961;
}
input.sr-only:checked ~ .bg-checkbox-but-gradient .checked-image {
  @apply block
}
.gradient-page {
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
}


 /* Scrollbar custom */
  /* width */
  .scroll-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  .scroll-custom::-webkit-scrollbar-track {
    @apply bg-blue-700;
    border-radius: 20px;
  }
  
  /* Handle */
  .scroll-custom::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
  }
